<%- include("header", {title: title}); %>
<%- include("side_bar.ejs", {login: login}); %>
<div class="main">
<h1>Welcome <%= name %></h1>

<p>Show my meetings</p>
<form action="/mypage" method="POST">
<input type="datetime-local" name="start"> <input type="datetime-local" name="end">
<input type="submit" value="Get Meetings">
</form>
<% if (res) { %>
  <% for (const row of res) { %>
    <h2><%= row.title %></h2>
    <p><%= row.description %></p>
    <p>Host: <%= row.hostname %></p>
    <p>Starts At: <%= row.start_time %></p>
    <p>Ends At: <%= row.end_time %></p>
    <br>
  <% } %>
<% } %>
  
</div>

<%- include("footer"); %>